<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
    <a class="navbar-brand" href="./admin">Navbar scroll</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/deconnexion"><i class="bi bi-power" style="color: green;"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin">Dashboard</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Back office
                </a>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/admin-add"><i class="bi bi-person-add" style="color: yellowgreen;"></i>  Ajouter</a></li>
                    <li><a class="dropdown-item" href="/admin-delete"><i class="bi bi-person-dash" style="color: red;"></i> Supprimer</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/admin-user"><i class="bi bi-eye-fill" style="color: blue;"></i> Voir</a></li>
                </ul>
            </li>
        </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    </div>
</nav>