<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('include/header') %>
    <title>User dasboard Page</title>
</head>
<body>
<!-- Navar -->
<%- include ('include/userNav') %>
<!-- Fin de la navBar -->

<!-- Contenue -->
  <div class="container-fluid mt-3">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Statut</th>
          </tr>
        </thead>
        <tbody>
          <% requetes.forEach(function(requete) { %>
            <tr>
              <th scope="row"><%= requete.id %></th>
              <td><%= requete.titre %></td>
              <td><span class="badge text-bg-success p-2">Appouver</span></td>
            </tr>
          <% }) %>
        </tbody>
    </table>
  </div>
      
</body>
</html>